body{
	font-style: italic;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1042%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(5%2c 216%2c 229%2c 1)'%3e%3c/rect%3e%3cpath d='M1317 108L1597 388' stroke-width='6' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1154 47L947 -160' stroke-width='10' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M8 531L273 796' stroke-width='10' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M485 189L266 -30' stroke-width='6' stroke='url(%23SvgjsLinearGradient1044)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M554 133L137 -284' stroke-width='8' stroke='url(%23SvgjsLinearGradient1044)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M979 40L1346 407' stroke-width='10' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M625 501L242 118' stroke-width='8' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M965 283L655 -27' stroke-width='8' stroke='url(%23SvgjsLinearGradient1044)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M358 102L722 466' stroke-width='6' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M243 389L-144 2' stroke-width='8' stroke='url(%23SvgjsLinearGradient1044)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M196 491L-39 256' stroke-width='10' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M585 295L235 -55' stroke-width='6' stroke='url(%23SvgjsLinearGradient1044)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M16 366L214 564' stroke-width='10' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M461 354L855 748' stroke-width='6' stroke='url(%23SvgjsLinearGradient1044)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M744 486L893 635' stroke-width='8' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M501 158L349 6' stroke-width='6' stroke='url(%23SvgjsLinearGradient1044)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1260 496L946 182' stroke-width='6' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1014 360L651 -3' stroke-width='8' stroke='url(%23SvgjsLinearGradient1044)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M145 147L-226 -224' stroke-width='10' stroke='url(%23SvgjsLinearGradient1044)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1353 180L1752 579' stroke-width='10' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M630 295L260 -75' stroke-width='6' stroke='url(%23SvgjsLinearGradient1044)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M320 380L608 668' stroke-width='10' stroke='url(%23SvgjsLinearGradient1044)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M256 417L536 697' stroke-width='8' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M805 553L418 166' stroke-width='10' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M485 413L83 11' stroke-width='6' stroke='url(%23SvgjsLinearGradient1044)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1153 202L1300 349' stroke-width='6' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1008 312L1273 577' stroke-width='10' stroke='url(%23SvgjsLinearGradient1044)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1047 402L1271 626' stroke-width='6' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M889 37L670 -182' stroke-width='10' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1127 433L1295 601' stroke-width='6' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M279 156L598 475' stroke-width='8' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M417 80L766 429' stroke-width='8' stroke='url(%23SvgjsLinearGradient1044)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1205 220L1372 387' stroke-width='10' stroke='url(%23SvgjsLinearGradient1044)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1212 262L907 -43' stroke-width='8' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1198 336L1471 609' stroke-width='10' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1414 355L1005 -54' stroke-width='6' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1199 170L1553 524' stroke-width='8' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M972 543L595 166' stroke-width='8' stroke='url(%23SvgjsLinearGradient1043)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1098 174L849 -75' stroke-width='6' stroke='url(%23SvgjsLinearGradient1044)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1042'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1043'%3e%3cstop stop-color='rgba(10%2c 11%2c 254%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(10%2c 11%2c 254%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' id='SvgjsLinearGradient1044'%3e%3cstop stop-color='rgba(10%2c 11%2c 254%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(10%2c 11%2c 254%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
#h5{
	text-shadow: 13px;
	font-style: oblique;
	font-size: xx-large;
	font-palette: dark;
	color: #0A0ABD;
	font-family: monospace;
	border-style: outset;
	border-bottom: 5px;
	text-align: center;
	border-width: 3px 4px 3px 3px;
	border-radius: 30px;
	margin-right: 850px;
	margin-left: 250px;
	border-color: #0994AD;

}

p{
	box-shadow: 0 30px 30px rgba(0, 0, 0, 0.19),0 23px 12px rgba(0, 0, 0, 0.12);
 color: #082986;
 font-size: x-large;
}
h1{
	font-family: monospace;
	font-style: oblique;
	font-size: 300%;
	text-align: center;
	text-shadow: 30px;
	box-shadow: 0 30px 30px rgba(0, 0, 0, 0.19),0 23px 12px rgba(0, 0, 0, 0.12);
  font-family: monospace;
  
	border: 2px;
	border-style: outset;
	border-color: #80B6AF;
	color: red;

  
}
a{
	font-family: monospace;
	font-style: oblique;
	border-radius: 300px;
	font-size: 300%;
	text-align: center;
	text-shadow: 30px;
	box-shadow: 0 30px 30px rgba(0, 0, 0, 0.19),0 23px 12px rgba(0, 0, 0, 0.12);
  font-family: monospace;
  
	border: 2px;
	border-style: outset;
	border-color: #80B6AF;
	color: red;

}
.gallery {
  margin: 5px;
  border: 1px solid #EB0B0B;
  float: left;
  width: 180px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.19),0 23px 12px rgba(0, 0, 0, 0.12);
  align-content: ;
}
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;

}
.gallery {
  margin: 5px;
  border: 1px solid #EB0B0B;
  float: right;
  width: 180px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.19),0 23px 12px rgba(0, 0, 0, 0.12);
  box-shadow: 34px;
  text-shadow: 22px;

}
  


.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}
.gallery {
  margin: 5px;
  border: 1px solid #EB0B0B;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.19),0 23px 12px rgba(0, 0, 0, 0.12);
  float: left;
  width: 180px;
}
  


.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 2px;
  text-align: center;
}